.begin-button {
  margin-left: 40vw;
  margin-top: 40vh;
  background-color: gray;
  border: 0;
  border-radius: 5%;
  font-size: 2em;
  box-shadow: 3px 3px 4px red;
}
.fade-out {
  animation-duration: 2s;
  animation-name: fadeout;
}
@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.text-hide {
  visibility: hidden;
}
.text-show {
  visibility: visible;
  animation-duration: 3s;
  animation-name: slideupover;
}

@keyframes slideupover {
  0%,
  50% {
    padding-left: 40vw;
    padding-top: 40vh;
    font-size: 24pt;
  }

  100% {
    padding-left: 0vw;
    padding-top: 0vh;
    font-size: 12pt;
  }
}

.prompt-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.prompt {
  display: flex;
  justify-content: center;
  font-size: 2em;
}
.options {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  button {
    margin: 3em;
    background-color: gray;
    border: 0;
    border-radius: 5%;
    box-shadow: 3px 3px 4px green;
  }
}

.prompt-chosen {
  animation-duration: 1.5s;
  animation-name: slideover;
}

@keyframes slideover {
  100% {
    margin-left: -80%;
    margin-top: -10%;
    font-size: 0.5em;
    opacity: 0;
  }
}
